@font-face{
    font-family: 'gotham';
    src: url(../fonts/SVN_Gotham_Bold.ttf);
    font-style: bold;
    font-weight: 700;
}

html{
	background: url(../img/background_1.png) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

  	font-family: gotham;
}

body {
    margin:  0;
    padding:  0;
}

.logo_area {
    padding-top: 9vw;
}

.logo_area img{
	width: 80px;
    padding-left: 8vw;
}

.banner_area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:  #fff;
  margin-bottom: 20vw;
}

.banner_area .banner_text {
	margin-bottom: 3vw;
}

.banner_area .img_banner {
	width: 100%;
	display: flex;
	justify-content: center;
}

.banner_area .img_banner img {
	width: 80%;
}

.input_area .main_input_form{
	display: flex;
	justify-content: center;
}

.input_area .main_input_form #submitBtn {
	background: url(../img/button_ready.png);
	background-size: cover;
	border: none;
  width: 48vw;
  height: 53px;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 70vh;
}

.step1{
	background: url(../img/background_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: gotham;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 1;
}
.step2{
	display: none;
	width: 100%;
	height: 100vh;
}

.step2 .background {
	width: 100%;
	position: absolute;
	top: 0;
}

.name_area{
	z-index: 100;
	width: 100vw;
}

.animate__animated.animate__zoomInDown {
  --animate-duration: 2s;
}

.animate__animated.animate__bounceOut {
  --animate-duration: 1s;
}

.animate__animated.animate__pulse {
  --animate-duration: 800ms;
}

.name_area .name_text p{
	font-weight: 700;
	color: white;
	font-size: 45px;
	text-align: center;
	text-shadow: -4px 0px 5px #79690080;
	text-transform: capitalize;
 	margin: 20px;
 	margin-top: 37vw;
 	-webkit-animation: glow 800ms ease-in-out infinite alternate;
  	-moz-animation: glow 800ms ease-in-out infinite alternate;
  	animation: glow 800ms ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  	from {
      color: #fff;
    	text-shadow: 0 0 10px #fff88e, 0 0 11px #fff88e, 0 0 12px #fff88e, 0 0 13px #fff88e, 0 0 14px #fff88e, 0 0 15px #fff88e, 0 0 16px #fff88e, 0 0 17px #fff88e;
  	}
  
  	to {
  		color: #fff;
    	text-shadow: 0 0 20px #fff88e, 0 0 30px #fff88e, 0 0 40px #fff88e, 0 0 50px #fff88e, 0 0 60px #fff88e, 0 0 70px #fff88e, 0 0 80px #fff88e, 0 1 90px #fff88e;
  	}
}

.video_area{
	position: absolute;
	display: flex;
	overflow: hidden;
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video_container{
	position: absolute;
	top: 0;
	left: 0;
	width:  100vw;
	height: 100%;
}