body{
  	margin: 0;
}

.step1{
	background: url(../img/background_1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: gotham;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: 1;
}
.step2{
	display: none;
	width: 100%;
	height: 100vh;
}

.step2 .background {
	width: 100%;
	position: absolute;
	top: 0;
}


.name_area{
	z-index: 100;
	width: 100vw;
}

.animate__animated.animate__zoomInDown {
  --animate-duration: 2s;
}

.animate__animated.animate__bounceOut {
  --animate-duration: 1s;
}

.animate__animated.animate__pulse {
  --animate-duration: 800ms;
}

.name_area .name_text p{
	font-weight: 700;
	color: white;
	font-size: 45px;
	text-align: center;
	text-shadow: -4px 0px 5px #79690080;
	text-transform: capitalize;
 	margin: 20px;
 	margin-top: 37vw;
 	-webkit-animation: glow 800ms ease-in-out infinite alternate;
  	-moz-animation: glow 800ms ease-in-out infinite alternate;
  	animation: glow 800ms ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  	from {
      color: #fff;
    	text-shadow: 0 0 10px #fff88e, 0 0 11px #fff88e, 0 0 12px #fff88e, 0 0 13px #fff88e, 0 0 14px #fff88e, 0 0 15px #fff88e, 0 0 16px #fff88e, 0 0 17px #fff88e;
  	}
  
  	to {
  		color: #fff;
    	text-shadow: 0 0 20px #fff88e, 0 0 30px #fff88e, 0 0 40px #fff88e, 0 0 50px #fff88e, 0 0 60px #fff88e, 0 0 70px #fff88e, 0 0 80px #fff88e, 0 1 90px #fff88e;
  	}
}

.video_area{
	position: absolute;
	display: flex;
	overflow: hidden;
	height: 100vh;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video_container{
	position: absolute;
	top: 0;
	left: 0;
	width:  100vw;
	height: 100%;
}