html{
	background: url(img/Mobile.mp4) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	font-family: gotham;
}
body{
	  	margin: 0;
}


.name_area{
	z-index: 1;
}

.name_area .name_text p{

	font-weight: 700;
	color: white;
	font-size: 45px;
	text-align: center;
	text-shadow: -4px 0px 5px #79690080;

    padding: 120px 53px 0px 53px;
    margin: 20px;

    -webkit-animation: glow 2s ease-in-out infinite alternate;
  	-moz-animation: glow 2s ease-in-out infinite alternate;
  	animation: glow 2s ease-in-out infinite alternate;

}
@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #fffe06, 0 0 11px #fffe06, 0 0 12px #fffe06, 0 0 13px #fffe06, 0 0 14px #fffe06, 0 0 15px #fffe06, 0 0 16px #fffe06, 0 0 17px #fffe06;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #fffe06, 0 0 30px #fffe06, 0 0 40px #fffe06, 0 0 50px #fffe06, 0 0 60px #fffe06, 0 0 70px #fffe06, 0 0 80px #fffe06, 0 1 90px #fffe06;
  }
}

.video_area{
	position: relative;
	display: flex;
	overflow: hidden;
	height: 100vh;

}
.video_container{
	position: absolute;
}